server:
  port: 8081
spring:
  application:
    name: 'massiva'
  profiles:
    active:
      - dev
      - prod
  config:
    import: configserver:http://localhost:8888
eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: ${EUREKA_HOST:localhost}
    instanceId: ${spring.cloud.client.hostname}:${spring.application.name}:${spring.application.instance_id:${random.value}}
    preferIpAddress: true
